<form onsubmit={{action "login"}}>
    <img class="mb-4" src="/images/logo-dark.png" alt="" height="57">
    <h1 class="h3 mb-3 fw-normal">Вход</h1>
    {{#each errors as |error|}}
        <div class="error-alert">{{error.detail}}</div>
    {{/each}}

    <div class="form-floating">
        {{input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value=email}}
    </div>
    <div class="form-floating">
        {{input type="password" class="form-control" id="floatingPassword" placeholder="Пароль" value=password}}
    </div>
    <div class="checkbox mb-3">
        <label>
        {{input type="checkbox" checked=false}}  Запомнить
        </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Войти</button>
    {{#link-to "index" class="w-100"}}Назад{{/link-to}}
</form>