<form onsubmit={{action "submitForm"}}>
    <img class="mb-4" src="/images/logo-dark.png" alt="" height="57">
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

    <div class="form-floating">
        {{input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value=email}}
        {{#each errors.email as |error|}}
            <span class="error-message">{{error.message}}</span>
        {{/each}}
        {{#if (v-get this 'email' 'isInvalid')}}
            <span class="error-message">
                {{v-get this 'email' 'message'}}
            </span>
        {{/if}}
    </div>
    <div class="form-floating">
        {{input type="password" class="form-control" id="floatingPassword" placeholder="Пароль" value=password}}
        {{#each errors.email as |error|}}
            <span class="error-message">{{error.message}}</span>
        {{/each}}
        {{#if (v-get this 'password' 'isInvalid')}}
            <span class="error-message">
                {{v-get this 'password' 'message'}}
            </span>
        {{/if}}
    </div>
    <div class="form-floating">
        {{input type="password" class="form-control" id="floatingPasswordConfirmation" placeholder="Подтверждение пароля" value=passwordConfirmation}}
        {{#each errors.email as |error|}}
            <span class="error-message">{{error.message}}</span>
        {{/each}}
        {{#if (v-get this 'passwordConfirmition' 'isInvalid')}}
            <span class="error-message">
                {{v-get this 'passwordConfirmition' 'message'}}
            </span>
        {{/if}}
    </div>
    <div class="field">
        {{g-recaptcha-v2
        verified=(action "verified")
        expired=(action "expired")
        reset=reset
        }}
    </div>
    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" disabled={{iAmRobot}}>Зарегистрироваться</button>
    {{#link-to "index" class="w-100"}}Назад{{/link-to}}
</form>